{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}

<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" id="fileInput" accept=".png" style="display: none;">
  <label for="fileInput" class="submit-btn">Browse for Image</label>
  <input type="submit" value="Upload and Process" id="uploadButton" class="submit-btn" disabled>
</form>

<!--
    Container for the browsed image and controls to interact with it.
-->
<div id="preview"></div>
  
<script>
    // Enable the upload button when a file is selected.
    document.getElementById('fileInput').addEventListener('change', function() {
      document.getElementById('uploadButton').disabled = false;
    });

    // Function to handle file upload asynchronously.
    function uploadFile(event) {
      console.log(">>> Entered uploadFile.");
      event.preventDefault();
      var fileInput = document.getElementById('fileInput');
      var file = fileInput.files[0];
      var reader = new FileReader();
      reader.onload = function(event) {
          replaceThumbnail(event.target.result);
          // Submit the form asynchronously.
          var formData = new FormData();
          console.log(">>> In uploadFile formData is: ", formData);
          formData.append('file', file);
          fetch('/upload', {
              method: 'POST',
              body: formData
          })
          .then(response => {
              console.log('File upload successful');
              return response.json();
          })
          .then(data => {
              console.log(">>> Then data for image file: ", data.thumbnail_pathrmData);
              console.log(data);
              // Extract border color from response.
              var borderColor = data['border-color'];
              // Call replaceThumbnail with thumbnail path and border colour.
              replaceThumbnail(data.thumbnail_path, borderColor);
         })
          .catch(error => {
              console.error('Error uploading file:', error);
          });
      };
      reader.readAsDataURL(file);
    }

    // Function to create and replace the original thumbnail with a specified border colour.
    function replaceThumbnail(src, borderColor) {
        console.log(">>> Entered replaceThumbnail.");
        var img = document.createElement('img');
        img.src = src;
        img.className = 'thumbnail';
        img.style.borderColor = borderColor || 'lightgrey';
        console.log(">>> In replaceThumbnail borderColor is: ", img.style.borderColor);
        document.getElementById('preview').innerHTML = '';
        document.getElementById('preview').appendChild(img);
    }

    // Create the original thumbnail when the page loads.
    document.addEventListener('DOMContentLoaded', function() {
        console.log(">>> Entered addEventListener.");
        var fileInput = document.getElementById('fileInput');
        fileInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function(event) {
                console.log(">>> Calling replaceThumbnail.");
                replaceThumbnail(event.target.result);
            };
            reader.readAsDataURL(file);
        });
    });

    // Add an event listener for form submissions
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        
        // Call the uploadFile function to handle file upload
        uploadFile(event);
    });

</script>

<!--
    Container for secondary thumbnails,
    i.e. thumnails of files embedded in the primary image.
-->
<div id="thumbnails-container">
    <div id="thumbnails"></div>
</div>

<script>

    // Function to add secondary thumbnails with a specified border colour.
    function addThumbnail(src, borderColor) {
        console.log(">>> Entered addThumbnail.");
        var img = document.createElement('img');
        img.src = src;
        img.className = 'thumbnail';
        img.style.borderColor = borderColor || 'lightgrey';
        console.log(">>> In addThumbnail borderColor is: ", img.style.borderColor);
        document.getElementById('thumbnails-container').appendChild(img);
    }

    // Periodically poll the server for updates to embedded files.
    setInterval(function() {
        console.log(">>> Polling for thumbnails function.");
        fetch('/check_for_thumbnails')
        .then(response => response.json())
        .then(data => {
            console.log(">>> Poll response data: ,data");
            if (data.thumbnails) {
                data.thumbnails.forEach(thumbnail => {
                    addThumbnail(thumbnail.thumbnail_path, thumbnail['border-color']);
                });
            } else {
                console.error("Invalid response format");
            }
        }) 
        .catch(error => console.error("Error:", error));
    }, 5000);

</script>

{% endblock %}
